Rapports/Pre-etude/main.aux
Rapports/Pre-etude/main.log
Rapports/Pre-etude/main.out
Rapports/Pre-etude/main.synctex.gz
Rapports/Pre-etude/main.toc

Rapports/Conception/Latex/main.aux
Rapports/Conception/Latex/main.log
Rapports/Conception/Latex/main.out
Rapports/Conception/Latex/main.synctex.gz
Rapports/Conception/Latex/main.toc

Rapports/Specifications/main.aux
Rapports/Specifications/main.log
Rapports/Specifications/main.out
Rapports/Specifications/main.synctex.gz
Rapports/Specifications/main.toc

ModernUIApp1/ModernUIApp1/ModernUIApp1/bin/
ModernUIApp1/ModernUIApp1/ModernUIApp1/obj/
ModernUIApp1/ModernUIApp1/Data/obj/
ModernUIApp1/ModernUIApp1/Data/bin/
ModernUIApp1/ModernUIApp1/Data/obj/

bin/
obj/

*/bin/Debug/*
*/obj/Debug/*
*/Debug/*

*~
*.exe
*.sln
*.g.cs
*.g.i.cs