Rapports/Pre-etude/main.aux
Rapports/Pre-etude/main.log
Rapports/Pre-etude/main.out
Rapports/Pre-etude/main.pdf
Rapports/Pre-etude/main.synctex.gz
Rapports/Pre-etude/main.toc

Rapports/Specifications/main.aux
Rapports/Specifications/main.log
Rapports/Specifications/main.out
Rapports/Specifications/main.pdf
Rapports/Specifications/main.synctex.gz
Rapports/Specifications/main.toc